.small-text{
    font-size: small;
}
.back_ground{
    background-color: #4ac1f7;
}
.small-text::before{
    content: '| ';

    text-align: left;
    display: inline-block;
    width: 12px;
}
.span-region{
    padding-top: 13px;
}
.footer-lis-item{
    margin-left:  15px;
}
