{% load static %}

        <div class="row">
            <div  class="col-md-12">
                <nav class="navbar navbar-expand-sm bg-white navbar-white " >
                <ul class="navbar-nav  " >
                    <li class="nav-item active footer-item"  >
                        <a class="nav-link text-white bg-primary "  href="#"><strong>Sayt Haqida</strong></a>
                    </li>
                    <li >
                        <a class="nav-link text-white bg-primary " href="#"><strong>RSS</strong></a>
                    </li>
                    <li>

                        <a class="nav-link text-white bg-primary " href="#"><strong>Aloqa</strong></a>
                    </li>
                    <li>

                        <a class="nav-link text-white bg-primary " href="#"><strong>Reklama</strong></a>
                    </li>
                    <li>

                        <a class="nav-link text-white bg-primary " href="#"><strong>Kun Mavzulari</strong></a>
                    </li>
                    <li>

                        <a class="nav-link text-white bg-primary " href="#"><strong>Kun.uz Jamoasi</strong></a>
                    </li>

                </ul>
                </nav>
            </div>
        </div>


